<%- include('../partials/headerHome') %>

<body>
    <h1> Create Products for the <%= farmBed.bed.name %></h1>

<form action="/<%=farmBed._id%>/products" method="POST">
    <input type="text" name="name" id="name" placeholder="name">
    <input type="number" name="weight" id="weight" placeholder="item weight">
    <select name="input" id="input">
        <option value="add">add</option>
        <option value="subtract">subtract</option>
    </select>
   <input type="text" name="author" id="author" value="<%=farmBed._id%>">
    
    <!-- <label for="name">Enter Name</label>
    <input type="text " name="name" id="name" placeholder="name">
    <label for="weight">Enter weight</label>
    <input type="number" name="weight" id="weight" placeholder="number">
    <label for="weightUnit">Unit</label>
    <select name="weightUnit" id="unit">
        <option value="grams">g</option>
        <option value="pounds">lbs</option>
    </select> -->
    <button>Submit</button>
</form>

<div><a href="/beds">All Beds</a></div>

<div><a href="/<%= farmBed._id %>/products">All products</a></div>
</body>
</html>