<%- include('../partials/headerHome') %>

 
<body>
    <h1><%= product.name %> details</h1>
    <ul>
        <li> The Product name is <%= product.name %></li>
        <li>The weight is <%= product.weight %></li>  
    </ul>
<div><a href="/products/<%= product._id %>/update">Update <%= product.name %></a></div>
<form action="/products/<%=product._id%>?_method=DELETE" method="POST">
    <button>Delete Product</button>
</form>
<div><a href="/<%= farmBed[0]._id %>/products">All <%=farmBed[0].bed.name %> bed products</a></div>


</body>
</html>