<%- include('../partials/headerHome') %>

<%- include('../partials/navbar') %>
 
<body class="roboto-regular">

    <div class="container">
        <h1 class="mb-4"><%= product.name %> Details</h1>
        
        <ul class="product-details">
          <li><span>Product Name:</span> <%= product.name %></li>
          <li><span>Action:</span> <%= product.input %> <%= product.weight %> pounds</li>
          <li><span>Total Weight:</span> <%= product.totalWeight %></li>
          <li><span>Product Description:</span> <%= product.description %></li>
          <li><span>Image URL:</span> <%= product.imageUrl %></li>
          <li><span>Hex Color Code:</span> <%= product.colorCode %></li>
        </ul>
    
        <div class="actions my-4">
          <a href="/products/<%= product._id %>/update" class="btn btn-primary">Update <%= product.name %></a>
          <form action="/products/<%= product._id %>?_method=DELETE" method="POST" class="d-inline">
            <button class="btn btn-danger">Delete Product</button>
          </form>
        </div>
    
        <div class="mt-4">
          <a href="/<%= farmBed[0]._id %>/products" class="btn btn-info">All <%= farmBed[0].bed.name %> Bed Products</a>
        </div>
    
        <h3>Harvest/Sell</h3>
        <body class="roboto-regular">
    <div class="container">
        <h1 class="mb-4"><%= farmBed[0].bed.name %> Bed Products</h1>
        <!-- Grid with Images -->
        <div class="container-fluid text-center">
          <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 color roboto-bold">
            
  <% for (let product of products) { %>
  <% if (product.imageUrl && product.imageUrl !== '') { %>
    <div class="col grid-item" style="background-image: url('<%= product.imageUrl %>');">
      <a id="productAncor" href="/products/<%= product._id %>" class="text"><%= product.name %></a>
    </div>
  <% } else if (product.colorCode && product.colorCode !== '') { %>
    <div class="col grid-item" style="background-color: <%= product.colorCode %>;">
      <a id="productAncor" href="/products/<%= product._id %>" class="text"><%= product.name %></a>
    </div>
  <% } else { %>
    <div class="col grid-item bg-success">
      <a id="productAncor" href="/products/<%= product._id %>" class="text"><%= product.name %></a>
    </div>
  <% } %>
<% } %>

            <div class="col grid-item bg-success">
              <a id="productAncor" href="/<%= farmBed[0]._id %>/product/create" class="text">Create Product</a>
            </div>
          </div>
        </div>
    
        <div class="mt-4">
          <a href="/<%= farmBed[0]._id %>/product/create" class="btn btn-primary">Create Product</a>
          <a href="/beds/<%= farmBed._id %>" class="btn btn-secondary"><%= farmBed[0].bed.name %> Bed Details</a>
          <a href="/beds" class="btn btn-info">All Beds</a>
        </div>
      </div>
    
      </div>
    
      <%- include('../partials/footer') %>
