<%- include('../partials/headerHome') %>

<body>

    <%- include('../partials/headerHome') %>
  
    <div class="container">
      <h1 class="mb-4">Update <%= farmBed.bed.name %></h1>
  
      <form action="/beds/<%= farmBed._id %>?_method=PUT" method="POST">
        <div class="form-group">
          <label for="bed.name">Bed Name</label>
          <input type="text" class="form-control" name="bed.name" id="bed.name" placeholder="Bed Name" value="<%= farmBed.bed.name %>">
        </div>
        <div class="form-group">
          <label for="bed.size.x">Bed Size X</label>
          <input type="number" class="form-control" name="bed.size.x" id="bed.size.x" placeholder="Bed Size X" value="<%= farmBed.bed.size.x %>">
        </div>
        <div class="form-group">
          <label for="bed.size.y">Bed Size Y</label>
          <input type="number" class="form-control" name="bed.size.y" id="bed.size.y" placeholder="Bed Size Y" value="<%= farmBed.bed.size.y %>">
        </div>
        <div class="form-group">
          <label for="bed.pos.hor">Bed Horizontal Position</label>
          <input type="number" class="form-control" name="bed.pos.hor" id="bed.pos.hor" placeholder="Bed Horizontal Position" value="<%= farmBed.bed.pos.hor %>">
        </div>
        <div class="form-group">
          <label for="bed.pos.ver">Bed Vertical Position</label>
          <input type="number" class="form-control" name="bed.pos.ver" id="bed.pos.ver" placeholder="Bed Vertical Position" value="<%= farmBed.bed.pos.ver %>">
        </div>
        <div class="form-group">
            <label for="bed.description">Bed Description</label>
            <textarea class="form-control" name="bed.description" id="bed.description" placeholder="Enter bed description" rows="3" ><%= farmBed.bed.description %></textarea>
          </div>
        <div class="form-group">
          <label for="bed.imageUrl">Image URL</label>
          <input type="text" class="form-control" name="bed.imageUrl" id="bed.imageUrl" placeholder="Image URL" value="<%= farmBed.bed.imageUrl %>">
        </div>
        <div class="form-group">
          <label for="bed.colorCode">Color Code</label>
          <input type="text" class="form-control" name="bed.colorCode" id="bed.colorCode" placeholder="Color Code" value="<%= farmBed.bed.colorCode %>">
        </div>
        <button type="submit" class="btn btn-primary form-submit">Submit</button>
      </form>
      <a href="/beds" class="btn btn-secondary mt-3">All Beds</a>
    </div>
  
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>