<%- include('../partials/headerHome') %>
<!--  -->
<body class="roboto-regular">
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Beds</a>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/beds/create">Create Bed</a>
              </li>
            </ul>
        </div>
      </nav>
  <!-- Grid with Images -->
  <!-- Grid with Images -->
  <div class="container-fluid text-center">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 color roboto-bold">
      <% for (let bed of farmBed) { %>
        <% if (bed.bed.imageUrl && bed.bed.imageUrl !== '') { %>
          <div class="col grid-item" style="background-image: url('<%= bed.bed.imageUrl %>');">
            <a id="bedAncor" href="/beds/<%= bed._id %>" class="text"><%= bed.bed.name %></a>
          </div>
        <% } else if (bed.bed.colorCode && bed.bed.colorCode !== '') { %>
          <div class="col grid-item" style="background-color: <%= bed.bed.colorCode %>;">
            <a id="bedAncor" href="/beds/<%= bed._id %>" class="text"><%= bed.bed.name %></a>
          </div>
        <% } else { %>
          <div class="col grid-item bg-success">
            <a id="bedAncor" href="/beds/<%= bed._id %>" class="text"><%= bed.bed.name %></a>
          </div>
        <% } %>
      <% } %>
      <div class="col grid-item bg-success">
        <a id="bedAncor" href="/beds/create" class="text">Create Bed</a>
      </div>
    </div>
  </div>
  
    <!-- <main>
        
    </main>
    <ul>
       <div class="grid-col-3">

        </div>
    </ul> -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>